::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track{
    background-color: var(primary-color);
}
::-webkit-scrollbar-thumb{
    background: var(--tetiary-color);
    border-radius: 0px;
}